<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">User Reservation</div>
    <div class="panel-body">
      <p>List all reservations for this user</p>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Car</th>
        <th>Pick date</th>
        <th>Return date</th>
        <th>Cancel</th>
      </tr>
      </thead>
      <tbody>
      {{#each usersObj}}
        <tr>
          <th>{{@index}}</th>
          <th>{{this.brand}} {{this.model}}</th>
          <th>{{this.date_from}}</th>
          <th>{{this.date_to}}</th>
          <th><a href="#" class="btn btn-danger">Cancel</a></th>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>

</div> <!-- container -->

